﻿@model MvcClient.Models.EditVideoViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">

    <div class="form-horizontal leftMarginDefault">
        <input type="hidden" asp-for="Id" value="@Model.Id" />

        <div class="form-group">
            <div>You video's title</div>
            <input asp-for="Title" class="form-control" value="@Model.Title" />
        </div>

        <div class="form-group">
            <div>The video embed</div>
            <input asp-for="Embed" class="form-control" value="@Model.Embed" />
        </div>

        <div class="form-group">
            <div>
                <input type="submit" class="btn btn-primary" value="Submit" />
            </div>
        </div>
    </div>
</form>
