﻿@using Microsoft.AspNetCore.Authentication;
@using Microsoft.AspNetCore.Authorization;
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "Video";
}
<h2>@ViewData["Title"]</h2>
@if (User.IsInRole("Admin"))
{
    <div class="pull-right col-md-1 col-md-offset-11"><a asp-action="Create" asp-controller="Home" class="btn btn-danger">Create</a></div>
}


@model MvcClient.Models.VideoViewModel


<div class="bottomMarginDefault">
</div>

<div class="col-md-12 table-bordered"></div>
<div class="container">
    @foreach (var item in Model.Videos)
    {
        <div class="pull-left col-md-6">
            <div>
                <a asp-action="View" asp-controller="Home" asp-route-id="@item.Id" target="_blank"><img width="100%" height="315" src="http://i3.ytimg.com/vi/@item.EmbedCode/mqdefault.jpg"></img></a>
            </div>
            <div>
                <div class="h5">@item.Title</div>
                <div class="bottomMarginDefault">
                    @if ((await AuthorizationService.AuthorizeAsync(User, "CanEdit")).Succeeded)
                    {
                        <a asp-action="Edit" asp-controller="Home" asp-route-id="@item.Id">Edit</a> 
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Delete" asp-controller="Home" asp-route-id="@item.Id">Delete</a>
                    }
                </div>
            </div>
        </div>
    }
</div> 