﻿@model MvcClient.Models.DetailVideoViewModel
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<div class="container">
    <iframe src="@Model.Video.Embed" width="100%" height="600" frameborder="0" allowfullscreen="true" title="@Model.Video.Title" />
</div>

