﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Javascript Client</h1>
</div>

<button onclick="signIn()">SignIn</button>


<script src="~/sign-in.js"></script>